:::: {.grid .text-center .list}

<% for (const item of items) { %>

:::: {.g-col-12 .g-col-lg-6 .g-col-xl-4 <%= metadataAttrs(item) %>}

`<a href="<%- item.path %>" class=".quarto-grid-link" style="text-decoration: none;">`{=html}

:::: {.quarto-grid-item .card .h-100 .card-center .projects}

```{=html}
<div class="card-img-top">
<img src="<%= item.image %>" class="thumbnail-image card-img" loading="lazy" alt="<%= item.title %>">
</div>
```

:::: {.card-body .post-contents}
##### <%= item.title %> {.no-anchor .card-title .listing-title}

:::: {.listing-categories}
```{=html}
<% for (const category of item.categories) { %>
<div class="listing-category" onclick="window.quartoListingCategory('<%=category%>'); return false;"><%= category %></div>
<% } %>
```
:::

:::: {.card-text .listing-description}
<%= item.description %>
:::

:::

:::: {.card-footer}
:::: {.listing-date}
<%= item.date %>
:::
:::

:::

`</a>`{=html}

:::

<% } %>

:::
